HOSTNAME=opendap.example.com
SERVER_ADMIN_MAIL=admin@opendap.example.com
LETS_ENCRYPT_EMAIL=admin@opendap.example.com
AUTH_LDAP_URL=ldap://ldap.example.com:389/dc=example,dc=com
AUTH_LDAP_BIND_DN="cn=readonlyadmin,dc=example,dc=com"
AUTH_LDAP_BIND_PASSWORD=changeme
